<div class="background-container"></div>


<div class="container">
    <h2 ng-show="!isLogedIn" class="not-logged-in">Please register/login to use</h2>
    <div class="connected col-md-12" ng-show="isLogedIn">

    <div class="pull-left videos-container" ng-show="videos.length > 0">
        <i ng-click="videopopup=true" class=" add-new-video fa fa-plus-circle" aria-hidden="true"></i>

        <h1>My Videos</h1>

        <div  class=" col-xs-5 pull-left iframe-container">
            <iframe ng-src="{{trustSrc(iframeLink.src)}}" frameborder="0" allowfullscreen></iframe>
            <div class="clearfix"></div>
        </div>

        <ul class="video-ul col-xs-7 pull-right">

                <li ng-repeat="video in videos" >


                        <i ng-click="removeFunction($event)" class="remove-icon fa fa-times-circle" theid="{{video._id}}" aria-hidden="true"></i>

                        <div class="col-md-4">
                            <div class="centerit" >
                                <img ng-src='//img.youtube.com/vi/{{video.videothumb}}/default.jpg' vidoclicked="{{video.videolink}}" ng-click="playVideo($event)" alt="click to play"/>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="centerit"  vidoclicked="{{video.videolink}}" ng-click="playVideo($event)">
                                {{video.videoname}}
                            </div>
                        </div>
                        <div class="col-md-4" vidoclicked="{{video.videolink}}" ng-click="playVideo($event)">
                            <i ng-click="preEditFunction($event)" id="{{video._id}}" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </div>


                </li>
            <div class="clearfix"></div>

        </ul>
    </div>
        <div ng-show="videos.length == 0" class="form-container-first">
            <form  class="addvideo" ng-model="videoForm" name="firstVideoForm"  ng-submit="addVideo()" novalidate>
                <h2>Add your first video!</h2>
                <div class="form-group">
                    <label for="link" >
                        Video link here:
                    </label>
                    <input ng-model="vidlink" id="link" class="form-control" name="videolink"
                           placeholder="For example : https://www.youtube.com/watch?v=NnTg4vzli5s"
                           type="text" ng-required="true"/>
                </div>
                <button type="submit" ng-disabled="firstVideoForm.$invalid" class="btn btn-default">Add</button>
            </form>
        </div>
        <div class="clearfix"></div>


        <div ng-click="videopopup=false" ng-show="videopopup"class="popup-background"></div>
        <div ng-show="videopopup" class="new-video-container">

            <form  class="add-another-video" ng-model="videoForm" name="addvideo"  ng-submit="addVideo()" novalidate>
                <h2>Add a new video</h2>

                <i ng-click="videopopup=false" class="fa fa-times-circle" aria-hidden="true"></i>
                <div class="form-group">
                    <label for="link" >
                        Video link here:
                    </label>
                    <input ng-model="vidlink" id="link" class="form-control" name="videolink"
                           placeholder="For example : https://www.youtube.com/watch?v=NnTg4vzli5s"
                           type="text" ng-required="true"/>
                    <div class="invalid-link" ng-show="invalidUrl">
                        <p>Invalid youtube link!<br/>
                        </p>
                    </div>
                </div>
                <button type="submit" ng-click="videopopup=false" ng-disabled="addvideo.$invalid" class="btn btn-default">Add</button>

            </form>
            <div class="clearfix"></div>
        </div>


        <div ng-click="editpopup=false" ng-show="editpopup"class="popup-background2"></div>
        <div ng-show="editpopup" class="new-video-container">
            <form  class="add-another-video" ng-model="videoForm"  ng-submit="editVideo()" name="editvideo" novalidate>

                <h2>Edit Your Link</h2>

                <i ng-click="editpopup=false" class="fa fa-times-circle" aria-hidden="true"></i>
                <div class="form-group">
                    <label for="link" >
                        New video link here:
                    </label>
                    <input ng-model="viddlink" id="link" class="form-control" name="videolink"
                           placeholder="For example : https://www.youtube.com/watch?v=NnTg4vzli5s"
                           type="text" ng-required="true"/>

                    <div class="nouser" ng-show="invalidEditUrl">
                        <p><strong class="text-danger">Invalid youtube link!</strong><br/>

                        </p>
                    </div>
                </div>
                <button type="submit" ng-click="editpopup=false" ng-disabled="editvideo.$invalid" class="btn btn-default">Edit</button>

            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



